
<%- include('../partial/head') %>
    <title>Home Added - Airbnb</title>
</head>
<body>
    <%- include('../partial/navbar') %>
    <section id="header">
        <h1>HOME ADDED SUCCESSFULLY <br/><br/>THANK YOU FOR START BUSINESS WITH US.</h1>
    </section>
    <section id="main">
        <a href="/">GO-TO-HOME</a>
    </section>
    <footer>
        <p>&copy; 2024 Airbnb Clone</p>
    </footer>
</body>
</html>
