<section id="navbar">        
    <div id="logo">
        <p>AIRBNB</p>
    </div>
        
    <div id="link">
        <a href='/'>HOME</a>
        <a href='/host/add-home'>
            ADD-HOME
        </a>
    </div>
</section>